<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udiannet.tob.expertreg.mapper.UserMapper">
	<select id="getUserById" parameterType="int" resultType="User">
		select * from tbl_user where u_id = #{u_id}
	</select>
	<!-- 根据用户名或者email以及密码，查询记录 -->
	<select id="findUserByLoginnameAndPassword" resultType="User">
		select * from tbl_user
		where (u_login_name=#{loginname} or u_email=#{loginname})
			and u_password=#{password}
			and u_type=1
	</select>
	<!-- 根据用户登录名，查询记录 -->
	<select id="findUserByLoginName" resultType="User">
		select * from tbl_user
		where (u_login_name=#{loginname} or u_email=#{loginname})
			and u_type=1
	</select>
	<!-- 新用户注册：用户名、email、密码 -->
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="u_id">
		insert into tbl_user(u_login_name, u_email, u_password, u_type)
		values(#{loginname}, #{email}, #{password}, 1)
	</insert>
	<!-- 用户登录后，更新其登录时间 -->
	<update id="updateUser" parameterType="User">
		update tbl_user
		set u_last_time=getdate()
		where u_id=#{User.u_id}
	</update>
</mapper>  